<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recharge.follow.dao.FollowDAO">

    <select id="countFollow" parameterType="com.recharge.follow.vo.FollowVO" resultType="int">
        SELECT COUNT(*)
        FROM TB_FOLLOW
        WHERE FOLLOWER_ID = #{followerId}
          AND FOLLOWING_ID = #{followingId}
    </select>

    <insert id="insertFollow" parameterType="com.recharge.follow.vo.FollowVO">
        INSERT INTO TB_FOLLOW (
            FOLLOW_ID,
            FOLLOWER_ID,
            FOLLOWING_ID,
            CREATE_DATE,
            CREATE_ID,
            UPDATED_DATE,
            UPDATED_ID
        ) VALUES (
        SEQ_FOLLOW.NEXTVAL,
            #{followerId},
            #{followingId},
            SYSDATE,
            #{createId},
            SYSDATE,
            #{updatedId}
        )
    </insert>

    <delete id="deleteFollow" parameterType="com.recharge.follow.vo.FollowVO">
        DELETE FROM TB_FOLLOW
        WHERE FOLLOWER_ID = #{followerId}
          AND FOLLOWING_ID = #{followingId}
    </delete>

    <select id="getFollowerList" parameterType="map" resultType="com.recharge.follow.vo.FollowVO">
        SELECT
        f.FOLLOW_ID AS followId,
        f.FOLLOWER_ID AS followerId,
        f.FOLLOWING_ID AS followingId,
        u.USER_ID AS targetUserId,
        u.USER_NICKNAME AS userNickname,
        -- 로그인한 유저(myUserId)가 이 사람(followerId)을 팔로우하고 있는지 체크
        (SELECT COUNT(*) FROM TB_FOLLOW
        WHERE FOLLOWER_ID = #{myUserId}
        AND FOLLOWING_ID = f.FOLLOWER_ID) AS isFollowing
        FROM TB_FOLLOW f
        JOIN TB_USER u ON f.FOLLOWER_ID = u.USER_ID
        WHERE f.FOLLOWING_ID = #{targetUserId}
        ORDER BY f.CREATE_DATE DESC
    </select>


    <select id="getFollowingList" parameterType="map" resultType="com.recharge.follow.vo.FollowVO">
        SELECT
        f.FOLLOW_ID AS followId,
        f.FOLLOWER_ID AS followerId,
        f.FOLLOWING_ID AS followingId,
        u.USER_ID AS targetUserId,
        u.USER_NICKNAME AS userNickname,
        -- 내가 팔로우하는 사람(followingId)이 나(myUserId)를 팔로우하고 있는지 체크
        (SELECT COUNT(*) FROM TB_FOLLOW
        WHERE FOLLOWER_ID = f.FOLLOWING_ID
        AND FOLLOWING_ID = #{myUserId}) AS isFollowing
        FROM TB_FOLLOW f
        JOIN TB_USER u ON f.FOLLOWING_ID = u.USER_ID
        WHERE f.FOLLOWER_ID = #{targetUserId}
        ORDER BY f.CREATE_DATE DESC
    </select>

</mapper>