<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recharge.userfeed.dao.UserFeedDAO">

    <select id="selectUserFeed" parameterType="string" resultType="com.recharge.userfeed.vo.UserFeedVO">
        SELECT
        uf.USER_ID AS userId,
        u.USER_NICKNAME AS userNickname,
        uf.TOTAL_COUNT AS totalCount,
        uf.TOTAL_FOLLOWER AS totalFollower,
        uf.TOTAL_FOLLOWING AS totalFollowing,
        uf.CREATE_DATE AS createDate,
        uf.CREATE_ID AS createId,
        uf.UPDATED_DATE AS updatedDate,
        uf.UPDATED_ID AS updatedId
        FROM TB_USER_FEED uf
        LEFT JOIN TB_USER u ON uf.USER_ID = u.USER_ID
        WHERE uf.USER_ID = #{userId}
    </select>

    <select id="countUserPosts" parameterType="string" resultType="int">
        SELECT
        (SELECT COUNT(*) FROM TB_MOVIE_POST WHERE CREATE_ID = #{userId})
        + (SELECT COUNT(*) FROM TB_MUSIC_POST WHERE CREATE_ID = #{userId})
        AS TOTAL_COUNT
        FROM DUAL
    </select>

    <update id="updateTotalCount" parameterType="com.recharge.userfeed.vo.UserFeedVO">
        UPDATE TB_USER_FEED
        SET TOTAL_COUNT = #{totalCount},
        UPDATED_DATE = SYSDATE,
        UPDATED_ID = #{userId}
        WHERE USER_ID = #{userId}
    </update>

    <insert id="insertUserFeed" parameterType="string">
        INSERT INTO TB_USER_FEED (
        USER_ID, TOTAL_COUNT, TOTAL_FOLLOWER, TOTAL_FOLLOWING,
        CREATE_DATE, CREATE_ID, UPDATED_DATE, UPDATED_ID
        ) VALUES (
        #{userId}, 0, 0, 0,
        SYSDATE, #{userId}, SYSDATE, #{userId}
        )
    </insert>

    <update id="increaseFollower" parameterType="com.recharge.userfeed.vo.UserFeedVO">
        UPDATE TB_USER_FEED
        SET TOTAL_FOLLOWER = TOTAL_FOLLOWER + 1,
        UPDATED_DATE = SYSDATE,
        UPDATED_ID = #{updatedId}
        WHERE USER_ID = #{userId}
    </update>

    <update id="decreaseFollower" parameterType="com.recharge.userfeed.vo.UserFeedVO">
        UPDATE TB_USER_FEED
        SET TOTAL_FOLLOWER = TOTAL_FOLLOWER - 1,
        UPDATED_DATE = SYSDATE,
        UPDATED_ID = #{updatedId}
        WHERE USER_ID = #{userId}
        AND TOTAL_FOLLOWER > 0
    </update>

    <update id="increaseFollowing" parameterType="com.recharge.userfeed.vo.UserFeedVO">
        UPDATE TB_USER_FEED
        SET TOTAL_FOLLOWING = TOTAL_FOLLOWING + 1,
        UPDATED_DATE = SYSDATE,
        UPDATED_ID = #{updatedId}
        WHERE USER_ID = #{userId}
    </update>

    <update id="decreaseFollowing" parameterType="com.recharge.userfeed.vo.UserFeedVO">
        UPDATE TB_USER_FEED
        SET TOTAL_FOLLOWING = TOTAL_FOLLOWING - 1,
        UPDATED_DATE = SYSDATE,
        UPDATED_ID = #{updatedId}
        WHERE USER_ID = #{userId}
        AND TOTAL_FOLLOWING > 0
    </update>

</mapper>